# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/
env/
ENV/
.venv/

# Flask instance folder
instance/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS and Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
coverage.xml

# PyInstaller
dist/
build/
*.spec
